certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
idna==3.10
loguru==0.7.3
nuitka==2.6.7
ordered-set==4.1.0
packaging==24.1
psutil==7.0.0
pyside6==6.9.0
pyside6-addons==6.9.0
pyside6-essentials==6.9.0
pywin32==310
pyyaml==6.0.2
requests==2.31.0
shiboken6==6.9.0
urllib3==2.4.0
win32-setctime==1.2.0
windows-toasts==1.3.1
winrt-runtime==3.2.1
winrt-windows-data-xml-dom==3.2.1
winrt-windows-foundation==3.2.1
winrt-windows-foundation-collections==3.2.1
winrt-windows-ui-notifications==3.2.1
zstandard==0.23.0
